/************************************************通用代码分界线*****************************************************/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A5DEF1;
}


/************************************************通用代码分界线*****************************************************/


/************************************************导航栏代码分界线*****************************************************/

#my_header .navbar-my {
    background-color: #3B7B9A;
    margin-bottom: 0px;
}


/*修改导航条的背景颜色*/


/* .navbar .navbar-nav>li>a:visited {
    background-color: #3B7B9A;
    color: white;
} */

#my_header .navbar-my .navbar-nav>li>a:active {
    background-color: white;
    color: rgb(206, 112, 140);
}

#my_header .navbar-my .navbar-brand {
    color: white;
    height: 70px;
    line-height: 40px;
}


/*修改导航条的高度以及网站图标的样式*/

#my_header .navbar-my .navbar-toggle {
    margin: 18px 15px;
}

#my_header .navbar-my .navbar-nav a {
    height: 70px;
    line-height: 40px;
}


/* 修改导航链接的样式,行高需要减去边框（2*15px)的大小 */

#my_header .navbar-my .navbar-nav>li>a {
    color: white;
    background-color: #3B7B9A;
}

#my_header .navbar-my .navbar-nav li.active a,
#my_header .navbar-my .navbar-nav li a:hover {
    border-bottom: 2px solid rgb(206, 112, 140);
}


/* 修改当前链接以及选中链接的样式 */


/************************************************导航栏代码分界线*****************************************************/


/************************************************轮播图代码分界线*****************************************************/


/************************************************轮播图代码分界线*****************************************************/


/************************************************简介代码分界线*****************************************************/

#my_about .row {
    background: azure;
}

#my_about .about {
    text-align: center;
}

#my_about .text {
    margin-top: 20px;
    font-size: 20px;
}


/************************************************简介代码分界线*****************************************************/


/************************************************国花代码分界线*****************************************************/

#country_flower .row {
    background: azure;
    text-align: center;
}

#country_flower .flower {
    float: left;
    padding-top: 30px;
    font-size: 20px;
}

#country_flower .flower:hover {
    background: rgb(207, 206, 206);
}


/************************************************国花代码分界线*****************************************************/


/************************************************底部代码分界线*****************************************************/

#my_bottom {
    background: #3B7B9A;
    height: 100px;
    color: white;
}

#my_bottom .bot1 {
    background: red;
}

#my_bottom .bot2 {
    background: green;
}


/************************************************底部代码分界线*****************************************************/